<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Todo<span>list</span></h1>
    <h2>A todo app built with node express and mongodb</h2>
  </header>

  <section class="form">
    <input type="text" id="todoInput" placeholder="Insert your todo here.....">
    <ul class="list"> </ul>
  </section>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app.js" charset="utf-8"></script>
</body>
</html>
